<div class="form-box col-xs-4 col-xs-offset-4">
	<h1>Add a Course</h1>

	<%= simple_form_for @course, url: instructor_courses_path do |f| %>
		<%= f.input :title %>
		<%= f.input :description %>
		<%= f.input :cost %>

		<%= f.submit 'Create', class: 'btn btn-primary form-submit' %>
	<% end %>
</div><!-- /.form-box col-xs-4 col-xs-offset-4 -->