<div class="enhance-box col-xs-10 col-xs-offset-1">
	<h1><%= @course.title %></h1>

	<div class="col-sm-4 col-xs-12 text-center">
		<span class="label label-default course-cost"><%= number_to_currency @course.cost %></span>

		<% if current_user && current_user == @course.user %>		
		<%= link_to 'Administrate', instructor_course_path(@course), class: 'btn btn-danger btn-lg administrate-btn' %>
		<% end %>
	</div><!-- /.col-sm-4 col-xs-12 -->

	<div class="col-sm-8 col-xs-12">
		<%= @course.description %>
	</div><!-- /.col-sm-8 col-xs-12 -->

	<div class="col-xs-12">
		<% @course.sections.each do |section| %>
		<div class="section">
			<%= section.title %>
			<% section.lessons.each do |lesson| %>
			<div class="lesson">
				<%= link_to lesson_path(lesson) do %>
					<strong><%= lesson.title %></strong>
					- <%= lesson.subtitle %>
				<% end %>
			</div><!-- /.lesson -->
			<% end %>
		</div><!-- /.section -->
		<% end %>
	</div><!-- /.col-xs-12 -->
</div><!-- /.enhance-box col-xs-10 col-xs-offset-1 -->